body {
  background-color: #f9f7fe;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 2;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

form {
  background-color: #fff;
  padding: 25px;
  margin: auto -20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 9px;
}

.example {
  font-size: 12px;
  color: #aba8b5;
}

.finding {
  padding: 19px;
  color: black;
  font-size: 16px;
  width: 380px;
  border-radius: 30px;
  border-color: #928e9f;
  border-width: 1.5px;
}

.submit-button {
  padding: 19px;
  width: 130px;
  background-color: #885df1;
  color: white;
  border-radius: 30px;
  margin-left: 5px;
  font-size: 14px;
  border: none;
}

.info {
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
  padding: 25px;
  margin: 25px -20px;
  border-left: #885df1;
  font-size: 18px;
  line-height: 1.5;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 9px;
  border-left: 3px solid #885df1;
}

.hidden {
  display: block;
}
.info strong {
  color: yellowgreen;
}

footer {
  font-size: 14px;
  text-align: center;
}

.searching {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
